p, blockquote{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.9;
}

h1, h2, h3, h4, h5{
	font-family: 'Oswald', sans-serif;
	margin-bottom: 1rem;
}
h3{
	font-size: 30px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    position: relative;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
	background: url("../images/grunge-texture-55.png") #EDECE6;
	background-repeat: no-repeat;
    transition: all 0.3s;
    flex-flow: column nowrap;
    align-items: flex-start;
    height: 100%;
    overflow-y: auto;
    top: 0;
    position: fixed;
    z-index: 9999;
}

#sidebar.active {
    margin-left: 0;
}

.navbar-brand{
	max-width: 200px;
	margin: 0 auto;
	display: block;
}

.navbar-brand img{
	width: 100%;
}
	#navbar-left-fixed {
		flex-grow: 0;
		flex-direction: column;
		width: 100%
	}
	#navbar-left-fixed .navbar-nav {
		flex-direction: column;
		width: 100%
	}
	#navbar-left-fixed .navbar-nav .nav-item {
		width: 100%;
		text-align: center;
	}
	#navbar-left-fixed .navbar-nav .nav-item .dropdown-menu {
		top: 0
	}

.nav-social{
	padding-top: 30px;
}

.nav-social span{
	display: inline-block;
}

.nav-social span:nth-child(-n+2) {
    padding-right: 15px;
}
.sidebar-header{
	margin-bottom: 30px;
}
.sidebar-footer{
	margin-top: 50px;
    width: 100%;
    text-align: center;
}
.sidebar-footer section{
	padding-bottom: 2em;
}
.sidebar-footer section img{
	display: block;
	margin: 0 auto;
}

.sidebar-footer .divider{
	border-bottom: 1px solid #707070;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2em;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 250px;
}
.mobile-navigation{
	display: none;
	overflow: auto;
	background: #EDECE6;
	height: 80px;
}
.mobile-logo{
	width: 80px;
	height: 80px;
	margin: 0 auto;
}

.mobile-navigation #sidebarCollapse{
	position: absolute;
	cursor: pointer;
	height: 80px;
	width: 20px;
	right: 0;
	top: 0;
}
.mobile-navigation #sidebarCollapse span{
    top: 38px;
    display: block;
}

.mobile-navigation #sidebarCollapse span, .mobile-navigation #sidebarCollapse span:before, 
.mobile-navigation #sidebarCollapse span:after{
	background: none repeat scroll 0 0 #858585;
    content: "";
    cursor: pointer;
    display: block;
    height: 3px;
    position: absolute;
    transition: all 200ms ease-in-out 0s;
    width: 20px;
}

.mobile-navigation #sidebarCollapse span:before{
    top: -6px;
}
.mobile-navigation #sidebarCollapse span:after{
    bottom: -6px;
}

.mobile-navigation #sidebarCollapse.open span{
	background: transparent;
}

.mobile-navigation #sidebarCollapse.open span:before{
    transform: rotate(45deg);
    top: 0;
}

.mobile-navigation #sidebarCollapse.open span:after{
    transform: rotate(-45deg);
    bottom: 0;
}

.container-full{
	max-width: 100%;
	padding: 0;
	overflow: hidden;
}
.container-full .row{
	margin-left: 15px;
	margin-right: 15px;
}

/* Image Map */
.hotspot img {
	display: block;
	width: 100%;

}
.hotspot-demo-1-left {
	position: relative;
	width: 100%;
}
.hotspot .spots {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.hotspot .spot {
    position: absolute;
  	text-align: center;
  	line-height: 100px;
  	font-family: 'Oswald', sans-serif;
    font-size: 20px;
  	font-weight: 400;
  	color: #fff;
    width: 100px;
    height: 100px;
	border: 3px solid #FFF;
	border-radius: 50px;
	background-color: rgba(0, 0, 0, 1);
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.hotspot .spot:not([href]):not([tabindex]) {
    color: rgba(255, 255, 255, 0.7);
    opacity: .7;
}

.hotspot .marker.active .spot{
 	background-color: #55B1FF;
 	color: rgba(255, 255, 255, 1);
 	opacity: 1;
}
/*.hotspot .spot:hover {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}*/
.hotspot #spot-01, #spot-02, #spot-03 {
	display: inline-block;
	min-width: 250px;
}	
#spot-01 {
	position: absolute;
    top: 8%;
    left: 29%;
}
#spot-02 {
	position: absolute;
    top: 19%;
    left: 16%;
}
#spot-03 {
	position: absolute;
    top: 31%;
    left: 28%;
}
.logo-slide-toggle{
	position: relative;
}
.logo-slide-toggle:after{
	content: '';
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -30px;
    width: 0;
    z-index: 1;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #FFFFFF;
}
.top-logos{
	position: relative;
}


.top-logos .col{
	text-align: center;
	padding: 20px 0;
	justify-content: center;
    align-items: center;
    display: flex;
}
.top-logos .col img{
	margin: 0 auto;
	filter: opacity(60%);
	-webkit-filter: opacity(60%);
	cursor: pointer;
}

.top-logos .col:hover img{
	filter: opacity(100%);
	-webkit-filter: opacity(100%);
}
.circa-sm{
	width: 130px;
}

.pc-sm{
	width: 210px
}

.tobins-sm{
	width: 122px;
}

.sos-sm{
	width: 138px;
}

.intrigues-sm{
	width: 205px;
}

.slider-container{
	position:relative;

	transition: all .5s ease-in;
}
.slider-container.open{
	height: auto !important;
}
.slider-container .invisible-slide{
	opacity: 0 !important;
}
.slide-logo-container{
	justify-content: flex-end;
    align-items: center;
    display: flex;
}
.slider-logo img{
	margin-left: auto;
	display: block;
	width: 100%;
}


.carousel{
	padding: 30px 0;
}

.carousel-control-prev, .carousel-control-next{
	background: transparent;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-size: cover;
    width: 60px;
    height: 60px;
}

.carousel-control-prev-icon{
    background-image: url("../images/arrow-circle-prev.svg");
}

.carousel-control-next-icon{
    background-image: url("../images/arrow-circle-next.svg");
}


.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: 0.5s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}


.slide-content h3{
	color: #55B1FF;
}
.slide-content p{
	font-size: 15px;
}
.slide-footer .social-icons span{
	padding-right: 7px;
}

.slide-footer .visit-link{
	font-family: 'Poppins', sans-serif;
	color: #000;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding-left: 20px;
	letter-spacing: 0.9px;
}
.social-icons img{
	transform: rotate(279deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.slider-container .close{
	top: 30px;
	position: absolute;
	right: 30px;
	opacity: .3;
	z-index: 999;
}


.jsc-hero{
	background-image: url("../images/JSC-Hero.png");
	background-size: cover;
	height: 600px;
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: multiply;

}

.jsc-hero h1, .final-result-hero h1{
	color: #FFFFFF;
	font-size: 90px;
}

.story{
	padding: 80px 0;
	background: url("../images/grunge-texture-55.png") #EDECE6;
	background-size: contain;

}
.container-full .no-right-margin{
	margin-right: 0;
}
.blockquote{
	border-left: 5px solid #000000;
	padding-left: 20px;
	font-size: 16px;
	line-height:1.9em;
	margin-top: 40px;
}
.pop-out{
	background: #FFFFFF;
	padding: 40px 30px 30px 40px;
	border-radius: 20px 0px 0px 20px;
	-webkit-box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow:    0px 30px 50px 0px rgba(0, 0, 0, 0.16);
	box-shadow:         0px 30px 50px 0px rgba(0, 0, 0, 0.16);
}

.pop-out .logos-row{
   display: flex;
   align-items:center;
   padding-bottom: 20px;
}

.jsc-secondary{
	background-image: url("../images/jsc-secondary.jpg");
	background-size: cover;
	height: 900px;
	color: #FFF;
	text-align: center;
}
.jsc-secondary-text{
	display: flex;
   align-items:center;
}
.jsc-secondary p{
	font-weight: 600;
	font-size: 30px;
	line-height: 40px;
}

/* Parallax Sections */
.ss-container{
	color: #000;
}

.ss-container h1.bigText{
	font-size: 90px;
	 position:relative;
    font-weight: 400;
	text-shadow: 0px 1px 1px #fff;
}

.ss-container .parallax-one .ss-left{
	width: 33.3333%;
}
.ss-container .parallax-one h1.bigText{
	left: 80px;
	padding: 30px 5px 10px 5px;
	margin: 0px 15px;
}
.ss-container .parallax-one .ss-right{
	width: 66.6666%;
	background: url("../images/blueprints-01.jpg");
	background-repeat: no-repeat;
	height: 100%;
	z-index: -2;
}
.ss-container .parallax-two .ss-left{
	padding-left: 2%;
}

.ss-container .parallax-two .ss-right{
	height: 100%;
	 display: flex;
  	justify-content: center;
}
.ss-container .parallax-two img{
	width: 100%;
	margin-left: 0 auto;
	display: block;
}


.final-result-hero{
	background-image: url("../images/jsc-final-hero.jpg");
	background-size: cover;
	height: 740px;
}

#footer{
	background: url("../images/grunge-texture-footer.png") #100F0F;
	background-size: cover;
	background-repeat:no-repeat;
	color: #FFF;
	padding: 30px 0;
	font-size: 14px;
	line-height: 1.5;
}

#footer h5{
	font-family: 'Poppins', sans-serif;
	text-align:center;
	font-weight:600;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 30px;
}

#footer h6{
	font-size: 12px;
	margin-bottom: 20px;
	line-height: 20px;
	font-weight: 600;
	text-align: center;
}


#footer .social-icons{
	 display: flex;
  	justify-content: center;
}
#footer .social-icons span{
	padding: 0 10px;
}

.address{
   display: flex;
   justify-content: center;
   align-items:center;
}
.address span{
	margin-left: 20px;
	display:inline-block;
}
.hours{
	margin: 0 auto;
	width: 80%;
	display: block;
}
.contact-col{
	padding: 0;
	text-align: center;
}
.contact-col img{
	margin-right: 10px;
}
.phone{
	padding-right: 10px;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1240px) {
	.mobile-navigation{
		display: block;
	}

    #sidebar {
        margin-left: -250px;
        position: fixed;
        bottom: 0;
        top: 0;
        z-index: 9999;
    }
    #sidebar.active {
        margin-left: 0;

    }
    #sidebarCollapse span {
        display: none;
    }
    #content{
    	margin-left: 0;
    }
}


@media (max-width: 768px) {
	.mobile-navigation #sidebarCollapse{
		right: 20px;
	}

}
